<ion-header>
  <ion-toolbar>
    <ion-title>Estacionamientos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Estacionamientos del 1 al 7 </ion-label>
      <ion-button fill="outline" color="secondary" (click)="presentModal3()"> lugares </ion-button>
    </ion-item>

    <ion-card-content>
      escoger el estacionamiento vacio
    </ion-card-content>
  </ion-card>
  <br>

  <ion-card>
    <ion-item>
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Estacionamientos del 8 al 14 </ion-label>
      <ion-button fill="outline" color="secondary" (click)="presentModal2()"> lugares </ion-button>
    </ion-item>

    <ion-card-content>
      escoger el estacionamiento vacio
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Estacionamientos del 15 al 21 </ion-label>
      <ion-button fill="outline" color="secondary" (click)="presentModal1()"> lugares </ion-button>

    </ion-item>

    <ion-card-content>
      escoger el estacionamiento vacio
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Estacionamientos del 22 al 28 </ion-label>
      <ion-button fill="outline" color="secondary" (click)="presentModal()"> lugares </ion-button>

    </ion-item>

    <ion-card-content>
      escoger el estaciomiento vacio
    </ion-card-content>
  </ion-card>



</ion-content>
