<ion-header>
  <ion-toolbar>
    <ion-title>Estacionamiento del 22 al 28 </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-card>
    <ion-item>
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Espacio 8: {{mensajes.usuario.Modelo}}</ion-label>
      <ion-button fill="outline" color="Primary" (click)="presentAlert2()"> Alerta </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-label>Nombre de la Persona: {{mensajes.usuario.Nombre}}</ion-label>
      <br>
      <ion-label>Matticula: {{mensajes.usuario.Matricula}}</ion-label>
      <br>
      <ion-label>Modelo: {{mensajes.usuario.Modelo}}</ion-label>
      <br>
      <ion-label>Placa: {{mensajes.usuario.Placas}}</ion-label>
      <br>
      <ion-label>Color: {{mensajes.usuario.Color}}</ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Espacio 9: {{mensajes1.usuario.Modelo}}</ion-label>
      <ion-button fill="outline" color="Primary" (click)="presentAlert2()"> Alerta </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-label>Nombre de la Persona: {{mensajes1.usuario.Nombre}}</ion-label>
      <br>
      <ion-label>Matticula: {{mensajes1.usuario.Matricula}}</ion-label>
      <br>
      <ion-label>Modelo: {{mensajes1.usuario.Modelo}}</ion-label>
      <br>
      <ion-label>Placa: {{mensajes1.usuario.Placas}}</ion-label>
      <br>
      <ion-label>Color: {{mensajes1.usuario.Color}}</ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Espacio 10: {{mensajes2.usuario.Modelo}}</ion-label>
      <ion-button fill="outline" color="Primary" (click)="presentAlert2()"> Alerta </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-label>Nombre de la Persona: {{mensajes2.usuario.Nombre}}</ion-label>
      <br>
      <ion-label>Matticula: {{mensajes2.usuario.Matricula}}</ion-label>
      <br>
      <ion-label>Modelo: {{mensajes2.usuario.Modelo}}</ion-label>
      <br>
      <ion-label>Placa: {{mensajes2.usuario.Placas}}</ion-label>
      <br>
      <ion-label>Color: {{mensajes2.usuario.Color}}</ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Espacio 11: {{mensajes.usuario.Modelo}}</ion-label>
      <ion-button fill="outline" color="Primary" (click)="presentAlert2()"> Alerta </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-label>Nombre de la Persona: {{mensajes3.usuario.Nombre}}</ion-label>
      <br>
      <ion-label>Matticula: {{mensajes3.usuario.Matricula}}</ion-label>
      <br>
      <ion-label>Modelo: {{mensajes3.usuario.Modelo}}</ion-label>
      <br>
      <ion-label>Placa: {{mensajes3.usuario.Placas}}</ion-label>
      <br>
      <ion-label>Color: {{mensajes3.usuario.Color}}</ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Espacio 12: {{mensajes4.usuario.Modelo}}</ion-label>
      <ion-button fill="outline" color="Primary" (click)="presentAlert2()"> Alerta </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-label>Nombre de la Persona: {{mensajes4.usuario.Nombre}}</ion-label>
      <br>
      <ion-label>Matticula: {{mensajes4.usuario.Matricula}}</ion-label>
      <br>
      <ion-label>Modelo: {{mensajes4.usuario.Modelo}}</ion-label>
      <br>
      <ion-label>Placa: {{mensajes4.usuario.Placas}}</ion-label>
      <br>
      <ion-label>Color: {{mensajes.usuario.Color}}</ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Espacio 13: {{mensajess.usuario.Modelo}}</ion-label>
      <ion-button fill="outline" color="Primary" (click)="presentAlert2()"> Alerta </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-label>Nombre de la Persona: {{mensajess.usuario.Nombre}}</ion-label>
      <br>
      <ion-label>Matticula: {{mensajess.usuario.Matricula}}</ion-label>
      <br>
      <ion-label>Modelo: {{mensajess.usuario.Modelo}}</ion-label>
      <br>
      <ion-label>Placa: {{mensajess.usuario.Placas}}</ion-label>
      <br>
      <ion-label>Color: {{mensajess.usuario.Color}}</ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Espacio 14: {{mensajess.usuario.Modelo}}</ion-label>
      <ion-button fill="outline" color="Primary" (click)="presentAlert2()"> Alerta </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-label>Nombre de la Persona: {{mensajess.usuario.Nombre}}</ion-label>
      <br>
      <ion-label>Matticula: {{mensajess.usuario.Matricula}}</ion-label>
      <br>
      <ion-label>Modelo: {{mensajess.usuario.Modelo}}</ion-label>
      <br>
      <ion-label>Placa: {{mensajess.usuario.Placas}}</ion-label>
      <br>
      <ion-label>Color: {{mensajess.usuario.Color}}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
